@import '../../variables';

.side-bar-container {
  width: 25%;
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;

  hr {
    width: 80%;
    @include simple-line;
  }
}

.side-bar-items {
  padding-top: 100px;
  width: 100%;
  height: 70%;
  margin: auto;

  li {
    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

.item-container {
  display: flex;
  padding: 10px 60px;
  align-items: center;

  .item-icon {
    width: 20px;
    margin-right: 20px;
  }

  &:hover {
    background-color: $primary-hover-color;
  }
}