@import '../../../variables';

hr {
  margin: 20px 0;

  @include simple-line;
}

.files-manager-container {
  padding: 0 80px;
}

.filer-manager-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.partial-files-list {
  margin: 20px 0;
}